body
{
  color:#40514E;
  margin:0;
  text-align: center;
  font-family: verdana,arial;
}

h1
{
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family:  Merienda;
}
h2
{
  color: #66BFBF;
  font-size: 2.5rem;
}

h3
{
  color: #11999E;
}

.top-container
{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container
{
  margin:80px 0;
}
.bottom-container
{
background-color: #55BFBF;
padding: 50px 0 20px;
}

.bottom-cloud
{
  position: absolute;
  left:200px;
  right:300px;
  top:10px;
}

.top-cloud
{
  position: absolute;
  right:200px;
  top:40px;
}
.hello
{
  padding-top: 50px;
  width: 350px;
  height:250px;
}
.skill-row
{
  width:50%;
  margin:100px auto 100px auto;
  text-align: left;
}
.pro
{
  color: #66BFBF;
  font-size: 1.5rem;
}

.intro
{
  width:30%;
  margin:auto;
}
p
{
  line-height:2;
}
hr
{
  border: dotted #D6C01A 2px;
}
a
{
  color: #000000;
  font-weight: bold;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover
{
  color: #EAF6F6;
}
.programmer
{
  width: 30%;
  float:left;
  margin-right: 30px;
}
.language
{
  width: 30%;
  float: right;
  margin-left: 30px;
}

.contact-message
{
  width:40%;
  margin:40px auto 60px;
}


.btn{
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover{
  background: #30eceb;
  background-image: -webkit-linear-gradient(top, #30eceb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30eceb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30eceb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30eceb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30eceb, #2bc4ad);
  text-decoration: none;
}
